/*General for all pages*/

header{
    display: flex;
    flex-direction: column;
}

.title{
    height: 40px;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: solid 1px black;
    border-bottom: solid 1px black;

    padding: 10px 0 10px;

    margin: 0 0 20px;
}

.lat{
    height: 600px;
    width: 150px;
    margin-right: 30px;
    float: left;
    border: solid 1px black;
}

footer{
    margin-top: 40px;
    padding-top: 10px;
    border-top: solid 1px black;
    display: flex;
    flex-direction: row;
    justify-content:  center;
}

/*For the Main Page*/

.main{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.carrousel{
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;

    background-color: rgb(244, 248, 255);
    border-top: solid 1px  rgb(204, 223, 255);
    border-bottom: solid 1px  rgb(204, 223, 255);

}

.allm{
    width: 100%;
}

.mtitle{
    width:100%;
    text-align:  center;

    margin-top: 15px;
    margin-bottom: 5px;
}
.mtop{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

#search{
    margin-bottom: 30px;
}

.mcontainer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
    

    grid-row-gap: 50px;
    grid-column-gap: 10px;

    justify-items: center;
}
.cmovie, .mmovie{
    border: solid 1px black;
    height: 150px;
    width: 120px;
    

   
}


.inn{
    background-color:rgba(255, 255, 255, 0.7);
    text-align: center;
}


.genDet{

    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;

}

.detail{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);

}

.picture{
    width: 100px;
    height: 150px;
    border: solid 1px black;
    background-image: url("../Images/dn.jpg");
    background-size: cover;
}
 
/*For the Details Page*/

