<!DOCTYPE HTML  >
<html lang="es">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Cart</title>

  <link rel="stylesheet" href="../static/CSS/style.css"/>
</head>
<body>
<header>
   <div class="title">HardboiledMovies</div>

   <div class="menu">
        <div class="melement"><a href="/">Home</a></div>
        <div class="melement"> <a href="history">My movies</a></div>
        <div class="melement"> <a href="" >My Basket</a></div>
    </div>
</header>


<div class="cartTitle">Shopping cart</div>

<table>
    <tr>
        <td><strong>Product</strong></td>
        <td><strong>Price</strong></td>
        <td><strong>Units</strong></td>
        <td><strong>Total amount</strong></td>
    </tr>

    {% for compra in cart %}
    <td>{{compra['Title']}}</td>
    <td>{{compra['Price']}}</td>
    {% endfor %}
</table>
</body>

