<!DOCTYPE HTML  >
<html lang="es">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Detail</title>

  <link rel="stylesheet" href="../static/CSS/style.css"/>


  
</head>
<body>
<header>
   <div class="title">HardboiledMovies</div>
    
   <div class="menu">
        <div class="melement"><a href="/">Home</a></div>
        <div class="melement"> <a href="history">My movies</a></div>
        <div class="melement"> <a href="" >My Basket</a></div>
    </div>
</header>

<div class="lat">
        <p>Hola, {{usr}}</p><br>
        <a href="index">Log-out</a>
    </div>

<div class="genDet">
    <div class="detail">
        <img src="{{peli['Poster']}}" height=300 width=200>
        <div class="data">
            <h3>Title: {{peli['Title']}}</h3> 
            <h3> Date: {{peli['Released']}} </h3>
            <h3>Director: {{peli['Director']}}}</h3>

        </div>
    </div>

    <div class="description">
        <p>{{peli['Plot']}}</p>
    </div>

    <a class="addtocart"  href="/addtocart/{{peli['imdbID']}}">añadir al carrito</a>

</div>
<footer>
        All Rights Reserved <br>
        Copyrigth 2018 cAMP design
    </footer>
    

      
    </body>
    </html>