<!DOCTYPE HTML  >
<html lang="es">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Home</title>

  <link rel="stylesheet" href="../static/CSS/style.css"/>
  
  
</head>

<body>

<header>
   <div class="title">HardboiledMovies</div>
    
    <div class="menu">
        <div class="melement"><a href="/">Home</a></div>
        <div class="melement"> My movies</div>
        <div class="melement"> <a href="/cart.html"> My Basket</a></div>
    </div>
</header>

<div class="lat">
    <p>Bienvenido {{usr}}</p><br>
    <a href="login">Log-in</a>
    o <br>
    <a href="registro">Registrate</a>
</div>

<div class="main">
    <div class="ctitle">
        <b>Best Featured Movies</b>
    </div>
    <div class="carrousel">
        <div class="cmovie"></div>
        <div class="cmovie"></div>
        <div class="cmovie"></div>
        <div class="cmovie"></div>
        <div class="cmovie"></div>

    </div>

    <div class="allm">
        <div class="mtitle"><b>All Movies</b></div>
        <form action="/search" method="get" id="search">
        <div class="mtop">
            <div class="cat">
                Search by category: <br>
                <select name="cat" size="1">
                <option value="">All categories</option>
                {% for categoria in categorias %}
                <option value="{{categoria}}">{{categoria}}</option>
                {% endfor %}
              </select></div>
            <div class="search">
                Search by keywords: <br>
                <input name="search" type="text"></div>

                <input type="submit">

        
        </div>
    </form>
        

        

        <div class="mcontainer"> 

            {% for peli in pelis %}
            <div class="mmovie" >
                <div class="inn">
                    {{peli['Title']}}<br>
                    <img src="{{peli['Poster']}}" id="poster" height="130" width="100">
                <a href="detalle/{{peli['imdbID']}}">Ver Detalles</a>
                </div>
            </div>
                
            {% endfor %}
        </div>
    </div>

</div>


<footer>
    All Rights Reserved <br>
    Copyrigth 2018 cAMP design
</footer>


  
</body>
</html>