<!DOCTYPE HTML  >
<html lang="es">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Login</title>

  <link rel="stylesheet" href="../static/CSS/style.css"/>
  
</head>
<body>
<header>
   <div class="title">HardboiledMovies</div>
    
   <div class="menu">
      <div class="melement"><a href="/">Home</a></div>
      <div class="melement"> <s>My movies</s></div>
      <div class="melement">  <s>My Basket</s></div>
  </div>
</header>

<div class="lat">
    <p>Bienvenido</p><br>
    <a href="login">Log-in</a>
    o <br>
    <a href="registro">Registrate</a>
</div>

        <div class="container">
          <h1>Log In</h1>
          <p>Welcome to HardBoiled Movies.</p>
          <hr>

          <form  method="post" action="login">

          <label ><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" required>
      
         

          <br>
          <br>
      
          <label ><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
      
        

          <br>
          <br>

      
          <label>
            <input type="checkbox" checked="checked" name="remember" > Remember me
          </label>
      
          
          <div >
            <button type="submit" class="signupbtn" > Log In</button>
          </div>
        </form>
        </div>

      {{err}}  
      

      <footer>
            All Rights Reserved <br>
            Copyrigth 2018 cAMP design
        </footer>
        
      
          
        </body>
        </html>