<!DOCTYPE HTML >
<html lang="es">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Register</title>

  <link rel="stylesheet" href="../static/CSS/style.css"/>

  
</head>

<body>

<header>
   <div class="title">HardboiledMovies</div>
    
   <div class="menu">
      <div class="melement"><a href="/">Home</a></div>
      <div class="melement"> <s>My movies</s></div>
      <div class="melement">  <s>My Basket</s></div>
  </div>
</header>

<div class="lat">
    <p>Bienvenido</p><br>
    <a href="login">Log-in</a>
    o <br>
    <a href="registro">Registrate</a>
</div>
        <div class="container">
          <h1>Register</h1>
          <p>Welcome to HardBoiled Movies. Please fill in this form to create an account.</p>
          <hr>

          <form method="post" >
          <label ><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" required>
      
          <label ><b>Email</b></label>
          <input type="text" placeholder="Enter Email" name="email" required>

          <br>
          <br>
      
          <label ><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
      
          <label ><b>Repeat Password</b></label>
          <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

          <br>
          <br>

          <label ><b>Credit card</b></label>
          <input type="text" placeholder="credit Card" name="cc" required>
          <br>
          <br>
      
          <label>
            <input type="checkbox" checked="checked" name="remember" > Remember me
          </label>
      
          <p>By creating an account you agree to our <a href="#" >Terms & Privacy</a>.</p>
      
          <div >
            <button type="button" class="cancelbtn">Cancel</button>
            <button type="submit" class="signupbtn">Sign Up</button>
          </div>
        </form>
        </div>

        {{err}}
      

      <footer>
            All Rights Reserved <br>
            Copyrigth 2018 cAMP design
        </footer>
        
        
          
        </body>
        </html>